<form action="/imgup" method="post" enctype="multipart/form-data" class="board-form">
  <!-- 変更 -->
  <div class="file-wrap">
    画像を追加
    <input type="file" name="image_file" class="file">
  </div>
  <button type="submit" class="submit">投稿</button>
</form>
