<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="デジタル名刺を交換するサービス" />
    <meta name="author" content="jmjmri" />
    <title>CARD名刺交換サービス</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/images/icon.png" />
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Card</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">名刺データ登録</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usermine">自分の名刺</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list">名刺一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/send">名刺を送る</a>
            </li>
          </ul>
          <div class="form-inline mt-2 mt-md-0">
            <a
              href="<%= url %>"
              class="btn btn-outline-success btn-block"
              role="button"
              ><%= login %></a
            >
          </div>
        </div>
      </nav>
    </div>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Card</h1>
          <p>
            デジタル名刺交換サービス<br />簡単に名刺を交換することができます。
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="/usermine" role="button"
              >自分の名刺を表示 &raquo;</a
            >
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>名刺データ</h2>
            <p>名刺に掲載するデータの登録と変更ができます</p>
            <p>
              <a class="btn btn-secondary" href="/registration" role="button"
                >登録画面へ &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>名刺一覧</h2>
            <p>
              もらったすべての名刺を表示します。承認待ちの名刺もここから見ることができます。
            </p>
            <p>
              <a class="btn btn-secondary" href="/list" role="button"
                >名刺一覧へ &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>名刺を送る</h2>
            <p>自分の名刺をQRコードまたは名刺で送ることができます。</p>
            <p>
              <a class="btn btn-secondary" href="/send" role="button"
                >名刺送信へ &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-3">
            <h2>承認</h2>
            <p>名刺の観覧リクエストの承認をすることができます。</p>
            <p>
              <a class="btn btn-secondary" href="/list/check" role="button"
                >承認画面へ &raquo;</a
              >
            </p>
          </div>
        </div>
        <hr />
      </div>
      <!-- /container -->
    </main>
  </body>
  <!-- JS, Popper.js, and jQuery -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
</html>
